* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.3rem;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 80rem;
  /* max-width: 60%; */
  margin: 4rem auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 2rem;
  position: relative;
}

.img-section {
  width: 100%;
  min-height: 40rem;
  position: absolute;
  left: 0;
  right: 0;
  position: relative;
  overflow: hidden;
}

.first-img {
  width: 200%;
  position: absolute;
  left: -218%;
  top: 37%;
  transform: translate(50%, -50%);
  z-index: 0;
}

.third-img {
  width: 100%;
  position: absolute;
  left: -18%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.second-img {
  width: 20%;
  position: absolute;
  left: -13.5%;
  top: 50.5%;
  transform: translate(0, -25%);
  z-index: 2;
  transition: all 0.5s;
}

/* QA Section */

.qa-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem 2rem 0rem;
}

.faq-title {
  align-self: flex-start;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.accordion {
  font-size: 1.2rem;
  font-weight: 400;
}

.accordion-item {
  padding: 1rem 2rem 0rem 0rem;
  border-bottom: 0.1rem solid hsl(240, 5%, 91%);
  padding-bottom: 1rem;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.accordion-answer {
  max-height: 0;
  overflow: hidden;
  color: hsl(240, 6%, 50%);
  transition: all 0.5s;
}

.accordion-link:link,
.accordion-link:visited {
  text-decoration: none;
  color: hsl(237, 12%, 33%);
}

.accordion-link:hover,
.accordion-link:active {
  color: hsl(14, 88%, 65%);
}

.active-header img {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.active-header .accordion-link {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

.active-header.second-img {
  left: -10.5%;
}
